<% stylesheet 'users/index' %>

<% if @stars.any? %>
  <div id="featured_star">
    <%= @stars.first.reason %>
  </div>
  <ul>
    <% @stars[1..-1].each do |star| %>
      <li>
        <%= star.reason %>
      </li>
    <% end %>
  </ul>
<% else %>
  <div id="no_stars">
    No one has any stars :(<br/>
    <%= link_to "Be the Big Bang!", new_star_path %>
  </div>
<% end %>
