<% stylesheet 'users/index' %>

<% if @featured_user %>
  <div id="recent_star">
    <%= render :partial => 'users/badge', :locals => {:user => @featured_user} %>
  </div>

  <ul>
    <% @users.each do |user| %>
      <li>
        <%= render :partial => 'users/badge', :locals => {:user => user} %>
      </li>
    <% end %>
  </ul>
<% else %>
  <div id="no_stars">
    No one has any stars :(<br/>
    <%= link_to "Give someone a star", new_star_path %>
  </div>
<% end %>
