<% stylesheet 'stars' %>

<% if @stars.any? %>
  <div id="featured_star">
    <%= @stars.first.reason %>
  </div>
  <ul>
    <% @stars[1..-1].each do |star| %>
      <li>
        <%= star.reason %>
      </li>
    <% end %>
  </ul>
<% else %>
  <div id="no_stars" class="round sheer">
    No one has any stars :(<br/>
    <%= create_a_star_button %>
  </div>
<% end %>
