* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #004276;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, rgb(0,42,76)),
      color-stop(1, rgb(0,56,99))
  );
  background: -moz-linear-gradient(
      center top,
      rgb(0,42,76) 0%,
      rgb(0,56,99) 100%
  );
  color: #CCC;
  font-family: verdana, arial, helvetica, sans-serif;
  min-height: 750px;
}

a {
  color: #FFF;
  text-decoration: none;
}

img {
  border: none;
}

#hills {
  background-image: url('/images/hills.png');
  bottom: 0px;
  display: block;
  height: 79px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#logo {
  background-image: url('/images/logo.png');
  background-repeat: no-repeat;
  bottom: 25px;
  height: 200px;
  right: 10px;
  position: fixed;
  width: 254px;
  z-index: -1000;
}

#stars {
  background-image: url('/images/stars-background.png');
  background-position: 0px -40px;
  background-repeat: repeat;
  height: 783px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1482px;
  z-index: -1000;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}
