* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #004276;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, rgb(0,42,76)),
      color-stop(1, rgb(0,56,99))
  );
  background: -moz-linear-gradient(
      center top,
      rgb(0,42,76) 0%,
      rgb(0,56,99) 100%
  );
  color: #FFF;
  font-family: verdana, arial, helvetica, sans-serif;
  min-height: 750px;
}

a {
  color: #CC6;
  text-decoration: none;
}

img {
  border: none;
}

#hills {
  background-image: url('/images/hills.png');
  bottom: 0px;
  display: block;
  height: 79px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#logo {
  background-image: url('/images/logo.png');
  background-repeat: no-repeat;
  bottom: 25px;
  height: 200px;
  right: 10px;
  position: fixed;
  width: 254px;
  z-index: -1000;
}

#stars {
  background-image: url('/images/stars-background.png');
  background-position: 0px -40px;
  background-repeat: repeat;
  height: 783px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1482px;
  z-index: -1000;
}

.round {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.sheer {
  background-color: rgba(255,255,255,.3);
  border: 1px solid rgba(255,255,255,.5);
  padding: 10px;
}

.button {
  border-top: 1px solid #96d1f8;
  background: #EEEEA3;
  background: -webkit-gradient(linear, left top, left bottom, from(#EEEEA3), to(#EE4));
  background: -moz-linear-gradient(top, #EEEEA3, #EE4);
  border: 1px solid #FFF;
  color: #3B5998;
  display: inline-block;
  font-size: 20px;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  margin: 10px 5px;
  padding: 5px 10px;
  vertical-align: middle;
}

.button:hover {
  box-shadow: rgba(255,255,255,.75) 0 0px 10px;
  -moz-box-shadow: rgba(255,255,255,.75) 0 0px 10px;
  -webkit-box-shadow: rgba(255,255,255,.75) 0 0px 10px;
}

.button:active {
  background: #CCCC83;
  background: -webkit-gradient(linear, left top, left bottom, from(#CCCC83), to(#CC2));
  background: -moz-linear-gradient(top, #CCCC83, #CC2);
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}
