* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #004276;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, rgb(0,42,76)),
      color-stop(1, rgb(0,56,99))
  );
  background: -moz-linear-gradient(
      center top,
      rgb(0,42,76) 0%,
      rgb(0,56,99) 100%
  );
  color: #FFF;
  font-family: Helvetica, Arial, sans-serif;
  min-height: 750px;
  overflow-x: hidden;
  overflow-y: auto;
  text-shadow: #000 1px 1px 1px;
}

a {
  color: #CC6;
  text-decoration: none;
}

img {
  border: none;
}

ul, ol {
  list-style: none;
}

#flash {
  background-color: #F80;
  border-bottom: 1px solid #000;
  border-radius: 0px 5px 5px 0px;
  -moz-border-radius: 0px 5px 5px 0px;
  -webkit-border-radius: 0px 5px 5px 0px;
  color: #000;
  left: 0px;
  overflow: hidden;
  padding: 5px 20px;
  position: absolute;
  text-shadow: none;
  top: 5px;
  white-space: nowrap;
}

#hills {
  background-image: url('/images/hills.png');
  bottom: 0px;
  display: block;
  height: 79px;
  left: 0px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#logo {
  background-image: url('/images/logo.png');
  background-repeat: no-repeat;
  bottom: 25px;
  height: 200px;
  right: 10px;
  position: fixed;
  width: 254px;
  z-index: -1000;
}

#create_a_star {
  position: absolute;
  right: 25px;
  top: 15px;
}

#stars {
  background-image: url('/images/stars-background.png');
  background-position: 0px -40px;
  background-repeat: repeat;
  height: 783px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: -1000;
}

.button {
  background: #EEEEA3;
  background: -webkit-gradient(linear, left top, left bottom, from(#EEEEA3), to(#EE4));
  background: -moz-linear-gradient(top, #EEEEA3, #EE4);
  border: 1px solid #FFF;
  color: #3B5998;
  display: inline-block;
  font-size: 20px;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  margin: 10px 5px;
  padding: 5px 10px;
  text-shadow: none;
  vertical-align: middle;
}

.button:hover {
  cursor: pointer;
  box-shadow: rgba(255,255,255,.75) 0 0px 10px;
  -moz-box-shadow: rgba(255,255,255,.75) 0 0px 10px;
  -webkit-box-shadow: rgba(255,255,255,.75) 0 0px 10px;
}

.button:active {
  background: #CCCC83;
  background: -webkit-gradient(linear, left top, left bottom, from(#CCCC83), to(#CC2));
  background: -moz-linear-gradient(top, #CCCC83, #CC2);
}

.green_button {
  background: #387733;
  background: -webkit-gradient(linear, left top, left bottom, from(#387733), to(#286723));
  background: -moz-linear-gradient(top, #387733, #286723);
  border: 1px solid rgba(255,255,255,.1);
  color: #FFF;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 5px 10px;
  text-shadow: none;
  vertical-align: middle;
}

.green_button:hover {
  cursor: pointer;
  box-shadow: rgba(255,255,255,.75) 0 0px 5px;
  -moz-box-shadow: rgba(255,255,255,.75) 0 0px 5px;
}

.green_button:active {
  background: #286723;
  background: -webkit-gradient(linear, left top, left bottom, from(#286723), to(#185713));
  background: -moz-linear-gradient(top, #286723, #185713);
}

.handwritten {
  font-family: "Reenie Beanie", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  margin: -10px 0px -5px;
}

.round {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.sheer {
  background-color: rgba(255,255,255,.3);
  padding: 10px;
}

.seconded {
  background-color: rgba(255,255,255,.3);
  border: 1px solid rgba(0,66,111,.8);
  font-size: 14px;
  padding: 5px;
}

.small {
  font-size: .8em;
}

.lone_message {
  margin: 250px auto;
  text-align: center;
  width: 400px;
}

.time {
  display: inline-block;
  font-size: 11px;
  opacity: .9;
  text-shadow: none;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.fbconnect_login_button {
  display: block;
  margin: 10px 5px;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}
