h2 {
  font-size: 18px;
}

#featured_star {
  margin: 0 0 40px;
  padding: 30px 50px;
}

#featured_star .photo_holder {
  height: 100px;
  overflow: hidden;
}

#featured_star .photos {
  margin-right: 20px;
}

#featured_star .photos .starred {
  font-size: 2em;
}

#featured_star .info {
  position: relative;
  width: 550px;
}

#featured_star .reason {
  font-size: 35px;
  line-height: 42px;
  margin-top: 10px;
}

#featured_star .second {
  display: inline-block;
  margin: 0px 5px;
}

#recent_stars {
  float: left;
  margin: 0 30px 50px 0;
  width: 550px;
}

#recent_stars li {
  margin: 10px 0px;
}

#superstars {
  float: right;
  width: 350px;
}

#recent_stars > .star {
  position: relative;
}

#recent_stars .star .second {
  bottom: 10px;
  position: absolute;
  right: 10px;
}

.star .photos .star {
  color: #EE4;
}

.star .photos {
  display: inline-block;
  vertical-align: top;
}

.star .photo {
  display: inline-block;
  margin: 0px 10px;
  text-align: center;
  vertical-align: middle;
}

.star .photo .photo_holder {
  margin-bottom: 2px;
}

.star .photos .starred {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.star .photo img {
  margin-bottom: 10px;
}

.star .info {
  display: inline-block;
  width: 250px;
}

.star .reason {
  font-weight: bold;
  margin-bottom: 5px;
  overflow: hidden;
}

.no-stars {
  text-align: center;
}
.no-stars .button {
  margin-bottom: 0;
}

.superstars {
  margin: 10px 0 40px;
}

.superstars li {
  margin: 10px 0px;
}

.superstars .count {
  float: right;
}

.superstars .info {
  display: inline-block;
  width: 253px;
}

.superstars img {
  display: inline-block;
  margin-right: 5px;
  vertical-align: top;
}

.superstars .stars {
  margin: 5px 0px;
  padding: 5px 3px;
}

.superstars .stars li {
  cursor: pointer;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  position: relative;
}

.superstars .stars li.second {
  cursor: default;
}

.superstars .stars li .tooltip {
  bottom: 1em;
  cursor: default;
  display: none;
  left: -20px;
  position: absolute;
  width: 200px;
}

.superstars .stars li:hover .tooltip,
.superstars .stars li .tooltip:hover {
  display: block;
}

.superstars .stars li .tooltip .details {
  background-color: #222;
  border: 2px solid #FFF;
  padding: 10px;
}

.superstars .stars li .tooltip .details .signature {
  text-align: right;
}

.superstars .stars li .tooltip .details img {
  display: inline-block;
  height: 30px;
  margin: 2px;
  width: 30px;
  vertical-align: middle;
}

.superstars .stars li .tooltip .details .seconds {
  border-top: 1px solid #999;
  margin: 10px -10px 0px;
  padding: 10px 10px 5px;
}

.superstars .stars li .tooltip .details .seconds .faces {
  float: right;
  margin-right: 5px;
}

.superstars .stars li .tooltip .tail {
  background-color: #222;
  border: 2px solid #FFF;
  border-top-color: #222;
  border-radius: 0px 0px 0px 50px;
  -moz-border-radius: 0px 0px 50px;
  -webkit-border-radius: 0px 0px 50px;
  margin: -2px 0px 0px 25px;
  height: .5em;
  width: .5em;
}

#teams .photo {
  display: inline-block;
  margin: 0 5px;
}
