<div class="sheer round">
  <p>Active Users</p>
  <%= render :partial => 'list', :locals => {:users => User.active.all} %>
  <p>Inactive Users</p>
  <%= render :partial => 'list', :locals => {:users => User.inactive.all} %>
</div>
