<div class="photos">
  <%= render :partial => '/shared/photo_with_name',
             :locals => {:user => star.from, :size => size} %>
  <div class="starred">
    <div class="star">&#9733;</div>
    &rarr;
  </div>
  <%= render :partial => '/shared/photo_with_name',
             :locals => {:user => star.to, :size => size} %>
</div>

