form {
  margin: 50px auto;
  width: 600px;
}

form.sheer {
  padding: 40px;
}

form p {
  margin: 20px 0px;
}

form ul {
  list-style: none;
  width: 600px;
}

form textarea {
  color: #333;
  font-size: 16px;
  height: 100px;
  padding: 10px;
  width: 575px;
}

form ul li {
  float: left;
  margin: 10px;
  max-height: 90px;
  padding: 10px;
  text-align: center;
  width: 80px;
}

form ul li:hover {
  cursor: pointer;
  background-color: rgba(255,255,255,.5);
}

form ul li.selected {
  background-color: rgba(255,255,255,.5);
  border: 2px solid #FFF;
  margin: 8px;
}

form ul li .handwritten {
  display: inline-block;
  max-width: 85px;
  overflow: hidden;
  white-space: nowrap;
}

form ul li img {
  display: block;
  margin: 0px auto;
}

form ul li input {
  visibility: hidden;
}

form input.button {
  float: right;
}

form .chars_left {
  font-size: 12px;
  margin: 5px 0px;
  text-align: right;
}
